[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "themes/yggdrasill"]
	path = themes/yggdrasill
	url = https://github.com/rudeigerc/yggdrasill
