---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { Badge } from "@/components/ui/badge";
import BaseLayout from "@/layouts/BaseLayout.astro";

const posts = (
  await getCollection("blog", ({ data }) =>
    import.meta.env.PROD ? !data.draft : true,
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <div class="prose">
    <section>
      <ul class="space-y-10">
        {
          posts.map((post) => (
            <li>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <a href={`/posts/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
              </a>
              {post.data.draft && <Badge>DRAFT</Badge>}
              <p class="description">
                {post.data.description ?? ""}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
</BaseLayout>

<style>
  .prose {
    max-width: 65ch;

    @apply m-auto p-4;
  }

  ul {
    @apply list-none !important;
  }

  .date {
    @apply text-sm text-muted-foreground !important;
  }

  .title {
    @apply mt-0 no-underline !important;
  }

  .description {
    @apply mt-2 line-clamp-2 text-base text-muted-foreground !important;
  }
</style>
