a, a:hover {
    color: #2E5C6E;
}

blockquote {
    border-color: #2E5C6E;
}

a, a:hover {
    color: #2E5C6E;
}

.post .draft-label {
    color: #2E5C6E;
}

.post-tags .tags a {
    border: 1px solid #2E5C6E;
    color: #2E5C6E;
}

.post ul li {
    margin-bottom: 2px;
}
