@reference "./global.css";

.astro-code code {
  @apply grid min-w-full rounded-none border-0 bg-transparent p-0 text-sm break-words text-white;
  counter-reset: line;
  box-decoration-break: clone;
}
.astro-code .line {
  @apply px-4 py-1 text-sm;
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
.astro-code [data-line-numbers] {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code [data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
.astro-code .line.highlighted {
  @apply border-l-2 border-l-blue-400 bg-slate-200/50 dark:bg-slate-700/50;
}
.astro-code .line.highlighted span {
  @apply relative;
}
.astro-code .highlighted-word {
  @apply rounded-md bg-black/10 bg-slate-300 p-1;
}

.shiki-code-block-title {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}

.shiki-code-block {
  pre {
    @apply mt-0;
  }
}

.shiki-code-block-btn-clipboard {
  @apply absolute top-2 right-2 z-10 rounded-md bg-gray-700 p-2 text-gray-300 opacity-0 transition-all duration-200 hover:bg-gray-600 hover:text-white;

  &:hover {
    @apply opacity-100;
  }

  svg {
    @apply h-4 w-4;

    &.icon-check {
      @apply hidden;
    }
  }

  &.copied {
    @apply bg-green-600 text-white opacity-100;

    svg {
      &.icon-clipboard {
        @apply hidden;
      }

      &.icon-check {
        @apply block;
      }
    }
  }
}

div[role="dialog"] mark {
  @apply text-accent-foreground bg-accent-foreground/10 underline underline-offset-2;
}
