@reference "./global.css";

.astro-code code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-white;
  counter-reset: line;
  box-decoration-break: clone;
}
.astro-code .line {
  @apply px-4 py-1;
}

/* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
.astro-code [data-line-numbers] {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code [data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
.astro-code .line.highlighted {
  @apply bg-slate-300 bg-black/10;
}
.astro-code .line.highlighted span {
  @apply relative;
}
.astro-code .highlighted-word {
  @apply rounded-md bg-slate-300 bg-black/10 p-1;
}

.shiki-code-block-title {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}

.shiki-code-block {
  pre {
    @apply mt-0;
  }
}
