---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ArrowLeft } from "lucide-react";
import NotFoundImage from "../assets/NotFound.png";
---

<BaseLayout class:list={["place-content-center"]}>
  <div class="flex flex-col place-items-center space-y-4">
    <Image
      src={NotFoundImage}
      alt="404 Not Found"
      class="m-auto"
      width={NotFoundImage.width / 4}
    />
    <a href="/" class="flex items-center">
      <ArrowLeft className="inline-block w-4 h-4 mr-2" />
      <p>Go back to the home page</p>
    </a>
  </div>
</BaseLayout>
