---
import { Image } from "astro:assets";
import InternalServerError from "@/assets/InternalServerError.png";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ArrowLeft } from "lucide-react";
---

<BaseLayout class="flex">
  <div class="m-auto flex flex-col place-items-center space-y-4">
    <Image
      src={InternalServerError}
      alt="500 Internal Server Error"
      width={InternalServerError.width / 4}
    />
    <a href="/" class="flex items-center">
      <ArrowLeft className="inline-block w-4 h-4 mr-2" />
      <p>Go back to the home page</p>
    </a>
  </div>
</BaseLayout>
