<footer class="py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      &copy; {new Date().getFullYear()} Yuchen Cheng. This site is licensed under
      a Creative Commons Attribution 4.0 International license. Built by{" "}
      <a
        href="https://astro.build"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        Astro
      </a>
      and{" "}
      <a
        href="https://x.com/shadcn"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        shadcn
      </a>
      .
    </p>
  </div>
</footer>

<style>
  a {
    @apply underline-offset-4;
  }
</style>
