<section class="mx-auto mt-2">
  <script
    id="giscus"
    is:inline
    src="https://giscus.app/client.js"
    data-repo="rudeigerc/rudeigerc.dev"
    data-repo-id="MDEwOlJlcG9zaXRvcnkxMDcxNDQ2MTg="
    data-category="Comments"
    data-category-id="DIC_kwDOBmLlqs4CPSgG"
    data-mapping="og:title"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>

<script is:inline>
  const giscus = document.getElementById("giscus");
  if (giscus) {
    giscus.setAttribute("data-theme", isDark ? "dark" : "light");
  }
</script>
