---
import "@pagefind/default-ui/css/ui.css";

interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<div id="search" class={className}></div>

<script>
  import { PagefindUI } from "@pagefind/default-ui";

  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>

<style>
  :root {
    --pagefind-ui-primary: var(--color-foreground);
    --pagefind-ui-text: var(--color-foreground);
    --pagefind-ui-background: var(--color-background);
    --pagefind-ui-border: var(--color-border);
    --pagefind-ui-tag: var(--color-border);
  }
</style>
