---
interface PrevNextLink {
  href: string;
  label: string;
}

interface Pagination {
  prev?: PrevNextLink;
  next?: PrevNextLink;
}

interface Props {
  pagination: Pagination;
}

const { pagination } = Astro.props;
const { prev, next } = pagination;
---

<div class="my-10 grid gap-2 md:grid-cols-2">
  {
    prev && (
      <a href={prev.href} rel="prev" class="flex flex-col gap-1">
        {prev.label && (
          <>
            <span class="text-muted-foreground text-start font-light">
              ← Previous
            </span>
            <span class="text-start">{prev.label}</span>
          </>
        )}
      </a>
    )
  }
  {
    next && (
      <a href={next.href} rel="next" class="flex flex-col gap-1">
        {next.label && (
          <>
            <span class="text-muted-foreground text-end font-light">
              Next →
            </span>
            <span class="text-end">{next.label}</span>
          </>
        )}
      </a>
    )
  }
</div>

<style>
  @reference "@/styles/global.css";

  a {
    @apply no-underline! opacity-80! hover:opacity-100! hover:transition!;
  }
</style>
