---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils";

type Props = {
  title?: string;
  description?: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<html lang="zh-Hans">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" slot="head" />
  </head>
  <body class="bg-background min-h-screen">
    <div class="bg-background relative flex min-h-screen flex-col">
      <Header />
      <div class={cn("container flex-1", className)}>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
