---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

type Props = {
  title?: string;
  description?: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<html lang="zh-Hans">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="min-h-screen bg-background">
    <div class="relative flex min-h-screen flex-col bg-background">
      <Header />
      <div class="container flex-1" />
        <div class="mx-auto max-w-6xl">
          <main class:list={["flex-1", className]}>
            <slot />
          </main>
        </div>
      </div>
      <Footer />
    </div>
	</body>
</html>
