---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

import FormattedDate from "@/components/FormattedDate.astro";
import { Badge } from "@/components/ui/badge";
import { ExternalLinkIcon } from "lucide-react";

type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;
---

<section>
  <ul class="m-0 list-none space-y-10">
    {
      page.data.map((post) => (
        <li>
          <div class="flex">
            <p class="text-muted-foreground flex-1 text-sm">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <div>
              {post.data.draft && <Badge>DRAFT</Badge>}
              {post.data.external && <Badge>External</Badge>}
              {post.data.categories?.map((category) => (
                <>
                  <Badge variant="secondary" data-pagefind-filter="category">
                    {category}
                  </Badge>
                </>
              ))}
            </div>
          </div>
          <a
            href={
              post.data.external ? post.data.canonicalURL : `/posts/${post.id}/`
            }
            target={post.data.external ? "_blank" : "_self"}
          >
            <h4 class="title">
              {post.data.title}
              {post.data.external && (
                <ExternalLinkIcon className="inline flex-shrink-0" size={16} />
              )}
            </h4>
          </a>
          <p class="description">{post.data.description ?? ""}</p>
        </li>
      ))
    }
  </ul>
</section>

<style>
  @reference "@/styles/global.css";

  a {
    @apply no-underline! opacity-80! hover:opacity-100! hover:transition!;
  }

  .title {
    @apply mt-0! inline-flex flex-wrap items-center gap-1 no-underline!;
  }

  .description {
    @apply text-muted-foreground! mt-2! line-clamp-4! text-base!;
  }
</style>
